$sass-color: #CF649A;

.sass-emphasis {
    color: $sass-color;
}

nav.navbar {
    .active > a {
        background-color: $sass-color;
    }
}

body {
    // padding-top: 50px;
    padding-bottom: 10px;

    .page-title {
        text-align: center;
    }

    #main-content { 
        a {
            color: $sass-color;
            text-decoration: underline;
            font-weight: bold;
        }
        a.btn {
            text-decoration: none;
            color: black;
            font-weight: normal;
        }
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 100px;
    }
}

@media (min-width: 768px ) {
    body {
        padding-top: 50px;
    }
}