/* CSS is valid SCSS! */
// selecting by element name
div {
  background-color: green;
}

// selecting by class name
.some-class {
  font-family: consolas;
}

// selecting by id
#a-cool-id {
  border-radius: 15%;
}
